@import "../utilities/variables";

.nav {
    display: grid;
    justify-items: stretch;
    background-color: $oscuro;
    h1 {
        justify-self: center;
        align-self: center;
        color: $verde;
        font-weight: 100;
        padding: 0.5em;
    }
    ul {
        background-color: $verde;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
        padding: 1em;
        gap: 1em;
        justify-content: space-between;
        border-bottom: 2px solid $oscuro;
        li {
            list-style: none;
            display: grid;
        }
    }
    a {
        justify-self: stretch;
        text-align: center;
        padding: .6em;
    }
    a:hover {
        background-color: $blancoTransparente;
        border-radius: 1em;
    }
}
@media screen and (max-width: 580px) {
    .nav {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        ul {
            display: flex;
            flex-direction: column;
        }
    }
}

